:root {
  --color-gray-8: #808080;
  --color-gray-c: #c0c0c0;
  --color-gray-f: #f0f0f0;
  --color-white-1: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  margin: 0;
}

input[type=radio] {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

input[type=text] {
  border: 1px solid var(--color-gray-c);
  border-radius: 5px;
  box-sizing: border-box;
  padding: 2px 5px;

  &:disabled {
    background-color: var(--color-gray-f);
    cursor: not-allowed;
  }
}

table {
  display: inline-table;
  border: 1px solid var(--color-gray-c);
  border-spacing: 0;
  border-radius: 5px;

  tr {
    >td,
    >th {
      border-color: var(--color-gray-c);
      border-style: solid;
      border-width: 0 1px 1px 0;

      &:last-child {
        border-width: 0 0 1px 0;
      }
    }

  }

  tr:last-child {
    >td {
      border-width: 0 1px 0 0;

      &:last-child {
        border-width: 0;
      }
    }
  }
}

.App {
  box-sizing: border-box;
  padding: 5px;
}

.AutoStart {
  table td {
    padding: 10px;

    &:first-child>input[type=text] {
      min-width: 300px;
      width: 70vw;
    }
  }

  >div:last-child {
    margin-top: 10px;
  }
}

.KeyBind {
  table {
    text-align: initial;

    thead {
      position: sticky;
      top: 38px;
      background-color: var(--color-white-1);
    }

    td {
      padding: 10px;

      label {
        display: inline-block;
        margin-right: 5px;
      }
    }
  }

  >div:last-child {
    margin-top: 10px;
  }
}

.Launcher {
  table td {
    padding: 10px;

    >input[type=text] {
      min-width: 300px;
      width: 50vw;
    }
  }

  >div:last-child {
    margin-top: 10px;
  }
}

.NumLock {
  >div:last-child {
    margin-top: 10px;
  }
}

.TabBox {
  >.label-box {
    position: sticky;
    top: 0;
    background-color: var(--color-white-1);
  }

  >.content-box {
    text-align: center;
  }
}

.Workspace {
  >div:last-child {
    margin-top: 10px;
  }
}